body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 30px;
    max-width: 600px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.col {
    margin-bottom: 2rem;
    width: 50%;
    height: 100%;
}

input {
    padding: 10px 6px;
    margin: 20px 10px 10px 0;
}

ul {
    list-style-type: none;
}
